@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

/* variables */
:root {
    --major-bg-color: #131921;
    --minor-bg-color: #ebeded;
    --amazon-major-color: #febd68;
}

/* body */
body {
    background-color: var(--minor-bg-color);
}

/* header */
.header {
    width: 100%;
    height: 50px;
    background-color: var(--major-bg-color);
    display: flex;
    justify-content: center;

}

.header .header-nav {
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.header .header-nav .header-container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-nav .header-container .amazon-logo {
    width: 100px;
}

.header .header-nav .header-container .header-search {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header .header-nav .header-container .header-search .input {
    width: 100%;
    height: 36px;
    border: 1px solid #ccc;
    padding: 0 10px;
    border-radius: 5px;
}

.search-button {
    width: 45px;
    height: 38px;
    background-color: var(--amazon-major-color);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #232323;
    cursor: pointer;
    margin-left: -6px;
    border-radius: 5px;
    padding: 4px;
}

.header .header-nav .header-container .cart {
    color: white;
}

#cart {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart svg {
    width: 40px;
    height: 40px;
}

/* section 1 */
.section1 {
    width: 100%;
    height: 100vh;
    background: url('https://images-eu.ssl-images-amazon.com/images/G/31/img22/Fashion/Gateway/BAU/Aug/Apay/GW-PC-Deals-Unrec-3000._CB629506848_.jpg');
    background-size: cover;
    display: flex;
    background-position: fixed;
}

.coloums {
    display: flex;
    margin-top: 300px;
    margin-right: 14px;
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.coloum1 {
    width: 100%;
    background-color: white;
    padding: 20px;

}

.coloum1 img {
    margin-top: 20px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.signin {
    width: 100%;
    height: 33px;
    border: none;
    border-radius: 8px;
    background-color: var(--amazon-major-color);
    margin-top: 12px;
    cursor: pointer;
}

.smallpara {
    font-size: 14px;
    margin-top: 12px;
    color: #007185;
    cursor: pointer;
}

/* section 2 */
.products {
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    margin-left: 42px;
}

.products-items {
    cursor: pointer;
}

.section2 {
    margin-top: 18px;
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.section2 h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 19px;
}

/* section 3 */

.section3 {
    margin-top: 28px;
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.section3 h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 19px;
}


/* section 4 */

.coloums2 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.coloums2-parts {
    width: 100%;
    background-color: white;
    padding: 20px;
}

.coloums2-parts img {
    margin-top: 20px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.size {
    width: 50%;

}

.m {
    margin-left: -22px;
}

.section4 {
    margin-top: 30px;
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
}


/* section 5 */

.section5 {
    margin-top: 30px;
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
}


.flex {
    display: flex;
}

.flex button {
    margin: 0 12px;
    border: none;
    width: 82px;
    color: #007185;
    background: none;
    cursor: pointer;
}

.coloums-5 {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}

.coloums5 img {
    cursor: pointer;
}

.section6 {
    margin-top: 30px;
    background-color: white;
    height: 150px;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 38px;
}

.sign-in p {
    font-size: 13px;
}

.sign-in button {
    width: 260px;
    background-color: var(--amazon-major-color);
    border: none;
    border-radius: 8px;
    height: 30px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--major-bg-color);
    color: white;
    height: 40px;
    font-size: 12px;
}

#shopbyCategory {
    margin-bottom: -12px;
}